extends layout.jade
block content
    h3 Basics

    p JavaScript like all other programming languages have building blocks which when combined together produce an 'exectuable' that you can run within the JavaScript run-time environment. The run time is most likely the browser or the node plaftform on the server but it does NOT have to be. Any run-time that can compile and interpret JavaScript source code can indeed be used to program JavaScript applications. 

    h4 Statements
    
    pre
        code.language-javascript
            p var javascript = "is cool";
            p var node = "Node is awesome";


