extends layout.jade
block content

    h2 Introduction

    p JavaScript is a very interesting langauage, one that has been misunderstood and sadly mis-used in the last 20+ years since its inception in 1995, this is due partly to the lack of understanding of the language and its compabilities as well as the fact that it was a language built in 10 days by Mr. Brendan Eich. When you build any serious programming language in 10 days, you can expect troubles with the language. However it also has merits which when you've dropped your bias and start digging into the language, you will see its power and expressiveness of this beautiful language.

    h3 About Me 
    p I am no one special, I am just a learner in this world like everyone else. I just happen to have a piece of paper from school that says you've done 3 years worth of school here is your certificate, thank you come again. I did a couple of years in application support and maintenance with the Microsoft .NET and SharePoint platform. Lets just say I didn't like support work very much putting it lightly because all I could do was watch developers (both juniors and so called seniors) making messes with their craft and we as the support team have to clean up their mess. I thought to myself why do I have to pick up their mess and why did they create such mess in the first. I came to the conclusion that it was poor work ethics and lack of professionalism with the craft and generally lack of understanding of their tools. 

    h3 Why I wrote this book?
    p I wrote this book because I've never written a book before and my second reason is I want to understand JavaScript better. Someone once said that, the only way you understand something deeply is when you can teach it to someone else. This book is to teach that someone else (my old self), the novice kid who thought he knew a lot about programming and that he understood JavaScript pretty well (how wrong was he?). 

    h3 What this book will do?
    p It will teach you (me) the basics of the JavaScript, its syntax and some foundations of programming. It will also try and clarify some confusion areas in the language such as the 'this' keyword, closure and coercion. 

    h3 What this book won't do?
    ul
        li This book will not make you a billionaire, nor will it make you a super programmer that knows every details about JavaScript. Sorry but the truth hurts but I had to be honest to myself and you (the potential readers).
    
        li This book is not meant to be a complete coverage of the entire language and all its edge cases.
    
    h3 Disclaimer!
    p This book was written by me and intended to be read by me only. It is not intended to be 100% accurate down to every minute details, although I do try and make an effort to ensure that what I've written is correct (based on my understanding of the JavaScript language). If you happen to read it and find mistakes (which I'm sure you'll find a lot of), then feel free to ignore what I've written and seek better resources out there.
    h3 You have been warned from here on!

