extends layout.jade
block content

    h3 Introduction

    p JavaScript is a very interesting langauage, one that has been misunderstood and sadly mis-used in the last 20+ years since its inception in 1995, this is due partly to the lack of understanding of the language and its compabilities as well as the fact that it was a language built in 10 days by Mr. Brendan Eich. When you build any serious programming language in 10 days, you can expect troubles with the language. However it also has merits which when you've dropped your bias and start digging into the language, you will see its power and expressiveness of this beautiful language.

    h2 Disclaimer!
    p This book was written by me and for me only. It is not intended to be 100% accurate information, although I do try and make an effort to ensure that what I've written is correct (based on my understanding of the language). If you happen to read it and find mistakes (which I'm sure you'll find a lot of), then feel free to ignore what I've written.
    
    h3 You have been warned from here on!

    br

    h3 Why I wrote this book?
    p I wrote this book because I've never written a book before and my second reason is I want to understand JavaScript better. Someone once said that, the only way you understand something deeply is when you can teach it to someone else. This book is to teach that someone else (my old self), the novice kid who thought he knew a lot about programming and that he understood JavaScript pretty well (how wrong was he?). 

    h3 What this book will do?
    p It will teach you (me) the basics of the JavaScript, its syntax and some foundations of programming. It will also try and clarify some confusion areas in the language such as the 'this' keyword, closure and coercion.

    h3 What this book won't do?
    p This book will not make you a billionaire, nor will it make you a super programmer that knows every details about JavaScript. Sorry but the truth hurts but I had to be honest to myself and you (the potential readers).
    
    
